doctype html
html
  head
    title pug page
    link(rel="stylesheet",href="test.css")
  body
    h1 Hello pug!
    a(href="https://naver.com") Naver 이동
    div(id="aDiv")
      p 아이디 설정으로 자동 만들어진 div
    div(class="bDiv")
      p 클래스 설정으로 자동 만들어진 div
    #cDiv
      p div는 많이 사용해서 #으로 div를 만들 수 있다.
    .eDiv 
      p 클래스 속성도 마찬가지이다